<% content_for :body_type do%>
results<% end %> 

	<div class="poster">
		<img src= "<%= @infodata["Poster"] %>" /> 
	</div>
<br />
<br />
<br />
<br />

<h1><%= @infodata["Title"] %></h1>

	<%= @infodata["Plot"] %>			

<br />
<br />

<table style="margin:auto;">
	<tr>
		<th>Year</th>
		<th>Rated</th>
		<th>Runtime</th>
		<th>Genre</th>
		<th>Director</th>
		<th>Actors</th>
		<th>IMDB Link</th>
	</tr>
	<tr>
		<td> <%= @infodata["Year"] %> </td>
		<td> <%= @infodata["Rated"] %> </td>
		<td> <%= @infodata["Runtime"] %> </td>
		<td> <%= @infodata["Genre"] %> </td>
		<td> <%= @infodata["Director"] %> </td>
		<td> <%= @infodata["Actors"] %> </td>
		<td> <a href='http://www.imdb.com/title/<%=@link%>'> <%= @infodata["Title"] %></a> </td>
	</tr>
</table>
<br />

	<iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/embed/<%=@var3%>" allowfullscreen frameborder="0">
	</iframe>

